/*-- scss:defaults --*/

$headlineColorCustom: #B00783;
$headingColorCustom: #B00783;
$bodyLinkColorCustom: #B00783;
$navLinkColorCustom: #B00783;
$sidebarLinkColorCustom: #B00783;
$footerTextColorCustom: #B00783;
$contrast-color: #B00783;
$link-color: #B00783;
$buttonHoverBgColorCustom: #B00783;
$borderColorCustom: #B00783;

$body-color: #F2F4F8;
$code-color: #F2F4F8;
$textColorCustom: #F2F4F8;
$sidebarTextColorCustom: #F2F4F8;

$body-bg: #151C28;
$navbar-bg: #151C28;
$siteBgColorCustom: #151C28;
$sidebarBgColorCustom: #151C28;
$buttonTextColorCustom: #151C28;
$buttonHoverTextColorCustom: #151C28;
$buttonBgColorCustom: #151C28;

$code-block-bg: #07090D;

/*-- scss:rules --*/

.termsfeed-com---palette-light.termsfeed-com---nb {
  background-color: rgba(176,7,131, 0.3) !important;
  color: $body-color !important;
}

div.callout-important.callout-style-default>.callout-header {
  background-color: rgba(176,7,131, 0.3) !important;
}

.Reactable {
  background-color: transparent !important;
}

select {
  background-color: $body-bg;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  outline-style: solid;
  outline-width: 0;
  padding: 5px 7px;
  width: 100%;
}

.rt-search {
  background-color: rgba(0,0,0,0.03) !important;
}

.rt-filter {
  background-color: $body-bg !important;
  border: 1px solid rgba(0,0,0,.1) !important;
  border-radius: 3px !important;
}

.rt-tr-striped {
  background-color: rgba(0,0,0,0.03) !important;
}
